<head>
  <title>simpleHTTP</title>
</head>

<body>
  {{> external}}
</body>

<template name="external">
  <h3>Meteor: calling 3rd party service</h3>
  {{greeting}} 
  <input type="text" id="userName" placeholder="Enter username" />
  <input type="button" value="Fetch" id="fetchButton" />
  <ul>
    {{#each recentTweets}}
      <li>{{text}}</li>
    {{/each}}
  </ul>
</template>
